# imaging and array processing
opencv-python-headless
numpy
Pillow

# Qiskit (QuantumBlur uses it under the hood)
qiskit

# install the QuantumBlur module itself
git+https://github.com/qiskit-community/QuantumBlur.git@main#egg=quantumblur
